<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Test</title>
</head>
<body>

<div th:if(${users}})>

</div>

Nombre: <span th:text="${user.name}"></span>
<br>
Email: <span th:text="${user.email}"></span>
<br>
Password: <span th:text="${user.password}"></span>
<br>
Cell Phone: <span th:text="${user.cellPhone}"></span>
<br>
Id Shipping: <span th:text="${user.shippingId}"></span>

</body>
</html>